@import "variables";
@import "node_modules/bootstrap/scss/bootstrap.scss";

.btn:disabled {
  cursor: not-allowed;
}

.clickable {
  cursor: pointer;
}

.clickable.disabled {
  cursor: not-allowed;
}
