@import "variables";
@import "node_modules/bootstrap/scss/bootstrap.scss";

.btn:disabled {
  cursor: not-allowed;
}

.clickable {
  cursor: pointer;
}

.clickable.disabled {
  cursor: not-allowed;
}

.modal-header {
  background-color: $panel-bg;
}

.modal-body {
  background-color: $panel-bg;
}

.nav-tabs {
  .nav-link {
    color: $navbar-dark-color;

    @include hover-focus() {
      color: $navbar-dark-hover-color;
    }
  }

  .nav-link.active {
    color: $navbar-dark-active-color;
  }
}


.selected {
  border-style: solid;
  border-color: map-get($theme-colors, 'secondary');
  border-radius: 5px;
}
