@import "variables";
@import "node_modules/bootstrap/scss/bootstrap.scss";

.btn:disabled {
  cursor: not-allowed;
}

.clickable {
  cursor: pointer;
}

.clickable.disabled {
  cursor: not-allowed;
}

.selected {
  border-style: solid;
  border-color: map-get($theme-colors, 'secondary');
  border-radius: 5px;
}
