<app-navbar></app-navbar>

<div class="container mt-5">
  <ngb-alert *ngIf="error" type="danger" dismissible="true" (close)="error = null">{{error}}</ngb-alert>
  <ngb-alert *ngIf="success" type="success" dismissible="true" (close)="success = null">{{success}}</ngb-alert>

  <div class="text-center" *ngIf="loading; else list">
    <fa-icon [icon]="spinnerIcon" spin="true" size="8x"></fa-icon>
  </div>

  <ng-template #list>
    <div class="text-right mb-3">
      <div class="btn-group">
        <button type="button"
                class="btn btn-secondary"
                (click)="previousPage()"
                [disabled]="page.no === 1"
                [ngClass]="{'cursor-forbidden': page.no === 1}">
          <fa-icon [icon]="previousIcon"></fa-icon>
        </button>
        <button type="button"
                class="btn btn-secondary"
                (click)="nextPage()"
                [disabled]="page.no === page.totalPages"
                [ngClass]="{'cursor-forbidden': page.no === page.totalPages}">
          <fa-icon [icon]="nextIcon"></fa-icon>
        </button>
      </div>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Date de création</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of page.content">
        <td>{{user.name}}</td>
        <td>{{user.creationDate | date: 'long'}}</td>
      </tr>
      </tbody>
    </table>
  </ng-template>
</div>
