<app-navbar></app-navbar>

<div class="container mt-5">
  <app-error></app-error>

  <div class="text-center" *ngIf="loading; else content">
    <fa-icon [icon]="spinnerIcon" spin="true" size="8x"></fa-icon>
  </div>

  <ng-template #content>
    <ul ngbNav #nav="ngbNav" class="nav-tabs mt-3" (navChange)="loadTab($event)" [activeId]="currentTab">
      <li ngbNavItem [domId]="Tab.Users">
        <a ngbNavLink>Utilisateurs</a>
        <ng-template ngbNavContent>
          <div class="mt-3">
            <app-users-table [page]="usersPage" (pageChange)="fetchUsersPage($event)" (userDelete)="deleteUser($event)">
            </app-users-table>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem [domId]="Tab.People">
        <a ngbNavLink>Personnes</a>
        <ng-template ngbNavContent>
          <div class="mt-3">
            <app-people-table [page]="peoplePage"
                              (pageChange)="fetchPeoplePage($event)"
                              (personDelete)="deletePerson($event)">
            </app-people-table>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </ng-template>
</div>
