<app-navbar></app-navbar>

<div class="container mt-5">
  <app-error></app-error>

  <div class="text-center" *ngIf="loading">
    <fa-icon [icon]="spinnerIcon" spin="true" size="8x"></fa-icon>
  </div>

  <div class="text-center" *ngIf="!loading && page.totalItems === 0">
    <h1>Vous n'avez pas encore de photos dans cet album...</h1>
  </div>

  <div *ngIf="!loading && page.totalItems > 0">
    <app-photo-grid [page]="page"
                    (pageChange)="fetchPage($event)"
                    (albumDelete)="deleteAlbum()"
                    (selectedPhotosDelete)="removeSelectedPhotosFromAlbum($event)">
    </app-photo-grid>
  </div>
</div>
