<app-navbar></app-navbar>

<div class="container mt-5">
  <ngb-alert *ngIf="error" type="danger" dismissible="true" (close)="error = null">{{error}}</ngb-alert>
  <ngb-alert *ngIf="success" type="success" dismissible="true" (close)="success = null">{{success}}</ngb-alert>

  <div class="text-center" *ngIf="loading">
    <fa-icon [icon]="spinnerIcon" spin="true" size="8x"></fa-icon>
  </div>

  <div class="text-center" *ngIf="!loading && page.totalItems === 0">
    <h1 class="mb-3">Vous n'avez pas encore de photos... Ajoutez-en !</h1>
    <button class="btn btn-primary" (click)="selectFiles()" [disabled]="uploading">
      <fa-icon [icon]="spinnerIcon" spin="true" *ngIf="uploading"></fa-icon>
      <span *ngIf="uploading"> Ajout en cours...</span>
      <span *ngIf="!uploading">C'est parti !</span>
    </button>
    <input name="files" type="file" (change)="upload()" multiple hidden #files>
  </div>

  <div *ngIf="!loading && page.totalItems > 0">
    <div class="text-right mb-3">
      <div class="btn-group">
        <button type="button"
                class="btn btn-secondary"
                (click)="previousPage()"
                [disabled]="page.no === 1"
                [ngClass]="{'cursor-forbidden': page.no === 1}">
          <fa-icon [icon]="previousIcon"></fa-icon>
        </button>
        <button type="button"
                class="btn btn-secondary"
                (click)="nextPage()"
                [disabled]="page.no === page.totalPages"
                [ngClass]="{'cursor-forbidden': page.no === page.totalPages}">
          <fa-icon [icon]="nextIcon"></fa-icon>
        </button>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let photo of page.content" class="col-lg-3 col-md-4 col-6 mb-2">
        <a (click)="openPhoto(photo.id)" class="clickable">
          <img src="{{baseUrl}}{{photo.compressedUri}}" class="thumbnail img-fluid">
        </a>
      </div>
    </div>
  </div>
</div>
