@import "../../variables";

img {
  max-width: 100vw;
  height: auto;
  max-height: 100vh;
}

.back-button {
  position: absolute;
  top: 2%;
  left: 1%;
  z-index: 1;
}

.photo-page {
  max-width: 100vw;
  max-height: 100vh;
}

.settings-button {
  position: absolute;
  top: 2%;
  right: 1%;
  z-index: 1;
}

.settings-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 15em;
  height: 100vh;
  background-color: $panel-bg;
  z-index: 2;
}
