<div class="container m-auto p-0">
  <div class="back-button">
    <button class="btn btn-secondary" (click)="close()">
      <fa-icon [icon]="arrowLeftIcon" size="2x"></fa-icon>
    </button>
  </div>

  <ngb-alert *ngIf="error" type="danger" dismissible="true" (close)="error = null">{{error}}</ngb-alert>

  <div *ngIf="loading; else photoBlock">
    <div class="text-center">
      <fa-icon [icon]="spinnerIcon" spin="true" size="8x"></fa-icon>
    </div>
  </div>

  <ng-template #photoBlock>
    <div class="text-center">
      <img src="{{baseUrl}}{{photo.rawUri}}">
    </div>
  </ng-template>
</div>
