<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">Ivana</a>
  <button class="navbar-toggler" type="button" (click)="opened = !opened">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{'show': opened}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{'active': currentUrl.startsWith('/home')}">
        <a class="nav-link" routerLink="/home">Mes photos</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': currentUrl.startsWith('/album')}">
        <a class="nav-link" routerLink="/album">Mes albums</a>
      </li>
      <li *ngIf="currentUserIsAdmin" class="nav-item" [ngClass]="{'active': currentUrl.startsWith('/admin')}">
        <a class="nav-link" routerLink="/admin">Administration</a>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse" [ngClass]="{'show': opened}">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item clickable" [ngClass]="{'disabled': uploading}">
        <a class="nav-link clickable" (click)="selectFiles()" [ngClass]="{'disabled': uploading}">
          <div *ngIf="uploading; else uploadBlock">
            <fa-icon [icon]="spinnerIcon" spin="true"></fa-icon>
            Ajout en cours...
          </div>
          <ng-template #uploadBlock>
            <fa-icon [icon]="uploadIcon"></fa-icon>
            Ajouter des photos
          </ng-template>
        </a>
        <input name="files" type="file" (change)="upload()" multiple hidden #files>
      </li>

      <li class="nav-item dropdown" ngbDropdown display="dynamic">
        <a class="nav-link dropdown-toggle clickable" ngbDropdownToggle>
          <fa-icon [icon]="profileIcon"></fa-icon>
          {{currentUser.name}}
        </a>
        <div ngbDropdownMenu>
          <button class="btn btn-secondary" routerLink="/user/password" ngbDropdownItem>
            Changer mon mot de passe
          </button>
          <button class="btn btn-secondary" (click)="logout()" ngbDropdownItem>
            <fa-icon [icon]="logoutIcon"></fa-icon>
            Déconnexion
          </button>
        </div>
      </li>
    </ul>
  </div>
</nav>
