<app-navbar></app-navbar>

<div class="container mt-5">
  <app-error></app-error>

  <form [formGroup]="pwdForm" (ngSubmit)="submit()" novalidate>
    <div class="form-group">
      <label for="pwd">Mot de passe</label>
      <input id="pwd"
             type="password"
             class="form-control"
             formControlName="pwd"
             minlength="8"
             required
             [ngClass]="{'is-invalid': pwd.invalid && (pwd.dirty || pwd.touched)}">
      <div *ngIf="pwd.errors && pwd.errors.minlength" class="invalid-feedback">
        Doit contenir au moins 8 caractères.
      </div>
    </div>

    <div class="form-group">
      <label for="pwd2">Confirmation du mot de passe</label>
      <input id="pwd2"
             type="password"
             class="form-control"
             formControlName="pwd2"
             minlength="8"
             required
             [ngClass]="{'is-invalid': pwd2.invalid && (pwd2.dirty || pwd2.touched)}">
      <div *ngIf="pwd2.errors && pwd2.errors.minlength" class="invalid-feedback">
        Doit contenir au moins 8 caractères.
      </div>
      <div *ngIf="pwd2.errors && pwd2.errors.notSame" class="invalid-feedback">
        Les mots de passe ne correspondent pas.
      </div>
    </div>

    <button type="submit"
            class="btn btn-primary"
            [disabled]="pwdForm.invalid || loading"
            [ngClass]="{'cursor-forbidden': pwdForm.invalid || loading}">
      <span *ngIf="!loading"> Mettre à jour</span>
      <fa-icon *ngIf="loading" [icon]="spinnerIcon" spin="true"></fa-icon>
      <span *ngIf="loading"> Mise à jour en cours...</span>
    </button>
  </form>
</div>
